@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: radial-gradient(circle at 10% 20%, rgb(251, 222, 238) 15.6%, rgb(206, 201, 226) 80.3%);
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: 'DM Sans';
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5vh;
}

.card-wrap {
  border-radius: 10px;
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 400px;
  height: 80vh;
  margin: 0 auto;
  padding: 3% 5%;
}

.header {
  color: black;
  font-weight: 600;
  font-size: 2rem;
}

.count {
  font-size: 13rem;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  all: unset;
  height: 30px;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: inherit;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.btn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.btn.decrement::before,
.btn.increment::before,
.btn.decrement:hover::after,
.btn.increment:hover::after {
  border-radius: 50%;
}

.instructions-wrap {
  margin-top: 20px;
}

.instructions-wrap h2 {
  font-size: 1rem;
}